@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

*{
    margin: 0;
    padding:0;
    border:0;
}

:root{
    --pink: #e680c7;
    --purple: #be83f1;
    --blue: #7439fa;
    --darkgrey: #6b6969;
    --lightgrey: #a6a6a6;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    /* background-color: var(--purple); */
    background: rgb(190,131,241);
    background: linear-gradient(90deg, rgba(190,131,241,1) 0%, rgba(190,131,241,1) 35%, rgba(230,128,199,1) 100%);
}

.cipher-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cipher-content{
    background-color: #fff;
    margin: 5rem;
    border-radius: 3rem;
    text-align: center;
    height: 60rem;
    width: 90%;
    border: 1rem solid black;
}

/* HEADING */
.title {
    font-family: 'Roboto Mono', monospace;
    color: var(--blue);
    letter-spacing: 4px;
    margin: 2rem;
    font-size: 3rem;
}

.encrypt-decrypt{
    width: 100%;
    height: auto;
    margin-top: 5rem;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.encrypt-decrypt label{
    text-transform: uppercase;
    font-size: 1.4rem;
}

.encrypt-decrypt .text-input{
    border: 2px solid var(--pink);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.encrypt-decrypt .text-input:hover{
    border: 2px solid var(--purple);
    
}

.encrypt-decrypt button{
    background-color: var(--pink);
    border-radius: 1rem;
    padding: 1.5rem 3.2rem;
    text-align: center;
    text-transform: uppercase;
    
}

#encrypt{
    margin-bottom: 3rem;
}


