@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

*{
    margin: 0;
    padding:0;
    border:0;
}

:root{
    --pink: #e680c7;
    --purple: #be83f1;
    --blue: #7439fa;
    --darkgrey: #6b6969;
    --lightgrey: #a6a6a6;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--purple);
}

.cipher-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cipher-content{
    background-color: #fff;
    margin: 5rem;
    border-radius: 3rem;
    text-align: center;
    height: 60rem;
    width: 90%;
    border: 5px solid var(--darkgrey);
}

/* HEADING */
.title {
    font-family: 'Roboto Mono', monospace;
    color: var(--blue);
    letter-spacing: 4px;
    margin: 2rem;
}

