@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; */

*{
    margin: 0;
    padding:0;
    border:0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #be83f1;
}

/* HEADING */
.title {
    font-family: 'Roboto Mono', monospace;
}

.cipher-container{
    background-color: white;
}